node_modules
src
tests
extension
scripts
.adal
.augment
.bob
.claude
.codebuddy
.commandcode
.continue
.cortex
.crush
.factory
.goose
.iflow
.junie
.kilocode
.kiro
.kode
.mcpjam
.mux
.neovate
.openhands
.pi
.pochi
.qoder
.qwen
.roo
.trae
.vibe
.windsurf
.zencoder
.agents
.sdd-tool
.traytor
.vscode
.git
.gitignore
.npmignore
AGENTS.md
CLAUDE.md
pnpm-lock.yaml
tsconfig.json
tsup.config.ts
eslint.config.*
.prettierrc
.husky
